@page "/useredit/{email}"
@inherits UserEditBase
@attribute [Authorize(Policy = UserPolicy.IsAdmin)]

<style>
</style>

@if (_userViewModel == null)
{
    <p><em>Loading...</em></p>
}
else if (LocalizationResources == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="bg-success d-flex justify-content-between mb-2">
        <div class="bg-success p-1 text-white"> &nbsp;@LocalizationResources.Register_User &nbsp; @email</div>
        <div class="bg-success p-1">
            @*<i class="fa fa-pencil text-white"></i>*@
            &nbsp;<span class="oi oi-pencil text-white" aria-hidden="true"></span> &nbsp;
        </div>
    </div>
    <div class="card" style="border:none">
        <div class="card-body" style="border:none">
            @*<h4>@LocalizationResources.Register_User</h4>*@
            @*<h5 class="card-title">@LocalizationResources.Register_Create_User_Account</h5>*@
            @*<p></p>
                <a href="" style="color:green">@LocalizationResources.Register_Already_a_Member</a>
                <p></p>*@

            <EditForm Model="@_userViewModel" OnValidSubmit="@UpdateAsync">
                <DataAnnotationsValidator />
                <ValidationSummary />

                  
                <div class="form-group">
                    <label for="customerCode">@LocalizationResources.Property_Inventor_CustomerCode</label>
                    <InputText id="customerCode" class="form-control" @bind-Value="@_userViewModel.CustomerCode"
                               placeholder=@LocalizationResources.Register_customer_code_from_Count4U />
                    <ValidationMessage For="@(() => _userViewModel.CustomerCode)" />
                </div>

                <div class="form-group">
                    <label for="description">@LocalizationResources.Property_Inventor_Description</label>
                    <InputText id="description" class="form-control" @bind-Value="@_userViewModel.Description" />
                    <ValidationMessage For="@(() => _userViewModel.CustomerCode)" />
                </div>

                <div class="form-group p-0 m-0">
                    <label for="isworker">@LocalizationResources.Property_Permissions</label>
                </div>

                <div class="form-group p-0 m-0">
                    &nbsp; &nbsp; <InputCheckbox @bind-Value="@_userViewModel.IsWorker" id="isworker" />
                    &nbsp; &nbsp; <label for="isworker" class="align-top">@LocalizationResources.Property_Use_Android</label>
                </div>

                <div class="form-group p-0 m-0">
                    &nbsp; &nbsp; <InputCheckbox @bind-Value="@_userViewModel.IsManager" id="ismanager" />
                    &nbsp; &nbsp; <label for="ismanager">@LocalizationResources.Property_Manage_Profile</label>
                </div>

                <div class="form-group p-0 m-0">
                    &nbsp; &nbsp; <InputCheckbox @bind-Value="@_userViewModel.IsOwner" id="isowner" />
                    &nbsp; &nbsp; <label for="isowner">@LocalizationResources.Property_Database</label>
                </div>
                <div class="p-2">
                </div>
                @*<div class="form-group">
                        <label for="email">@LocalizationResources.Property_Inventor_CustomerContextName</label>
                        <InputText id="email" class="form-control" @bind-Value="@_registerModel.CustomerContextName"
                                   aria-describedby="emailHelp" />
                        <ValidationMessage For="@(() => _registerModel.CustomerContextName)" />
                        <small id="emailHelp" class="form-text text-muted">@LocalizationResources.Register_customer_name_use_as_lable_for_customer</small>
                    </div>*@

                <button type="submit" class="btn btn btn-success">Submit</button>
                @if (this._registerResult != null)
                {
                    @if (this._registerResult.Successful == SuccessfulEnum.Successful)
                    {
                        <div class="alert alert-success" role="alert">
                            <p>@LocalizationResources.Register_Registered_Successfuly</p>
                        </div>
                    }

                    @if (this._registerResult.Successful == SuccessfulEnum.NotSuccessful)
                    {
                        <div class="alert alert-danger" role="alert">
                            <p>@LocalizationResources.Register_Cant_register</p>
                            <p>@this._registerResult.Error</p>
                        </div>
                    }
                }
            </EditForm>
        </div>
    </div>
}